# **Modul 2: Data Analysis**
# Inferential Statistics

## **No.1**

**Apa yang dimaksud dengan populasi dan sample? Berikan Contohnya!**

Populasi: seluruh kelompok individu, objek, atau peristiwa yang memiliki karakteristik tertentu yang menjadi fokus penelitian.\
contoh : penelitian tentang tinggi badan semua siswa di sekolah, populasi Anda adalah semua siswa di sekolah tersebut.\

Sample : Subset atau bagian kecil dari populasi yang diobservasi atau diuji.
contoh : saat mengamati tinggi badan 100 siswa dari sekolah tersebut, maka 100 siswa tersebut menjadi sample dari populasi seluruh siswa di sekolah.

## **No.2**

 **Apa yang dimaksud dengan hipotesis? Apa perbedaan Null Hypothesis (Ho) dan Alternative Hypothesis (Ha)? Berikan contohnya!**

 Hipotesis: suatu pernyataan atau proposisi yang diajukan untuk diuji melalui suatu penelitian atau eksperimen.\


 Hypothesis Testing: prediksi tentang hubungan antar variabel, perbandingan antar kelompok, atau ekspektasi lainnya yang ingin diuji kebenarannya.\
 

 Ho vs Ha: **Null Hypothesis** adalah pernyataan yang menyatakan bahwa tidak ada efek atau hubungan yang signifikan antara variabel-variabel yang diuji. **Alternative Hypothesis** adalah pernyataan yang menyatakan bahwa terdapat efek atau hubungan yang signifikan antara variabel-variabel yang diuji.\


 Contoh: Jika Anda ingin menguji apakah terdapat perbedaan rata-rata skor matematika antara siswa laki-laki dan siswa perempuan, Null Hypothesisnya bisa dirumuskan sebagai "Tidak ada perbedaan signifikan dalam rata-rata skor matematika antara siswa laki-laki dan siswa perempuan." Alternative Hypothesisnya bisa dirumuskan sebagai "Terdapat perbedaan signifikan dalam rata-rata skor matematika antara siswa laki-laki dan siswa perempuan."

---
### **One tail vs Two tail**


#### Jika kita ingin melakukan eksperimen atau survey untuk membuktikan pertanyaan di bawah ini, uji apa yang lebih cocok (One tail test atau Two tail test)?

1.	Apakah rata-rata tinggi orang Indonesia pada tahun 2000 dan 2020 berbeda?
     
2.	Apakah rata-rata nilai IELTS sekolah international di Jakarta lebih besar dari sekolah umum?
    
3.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari orang yang jarang olah raga?  
    
4.	Apakah rata-rata satu karung kecil beras yang diproduksi oleh Company A adalah 5.000g?   
    
5.	Apakah jumlah siswa yang lulus UN tahun 2010 ada 95%?

1. Two-tail test 
2. One tail test
3. One tail test
4. Two-tail test
5. Two-tail test

---
### **Hypothesis Testing**
1.	Dari 5 provider internet di Indonesia, apakah semuanya memiliki rata-rata penghasilan yang sama di tahun 2020?

2.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari sebelum mereka berolah raga?

3.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari orang yang jarang olah raga?  

4.	Apakah rata-rata satu karung kecil beras yang diproduksi oleh Company A adalah 5.000g?   

5.	Apakah jumlah siswa yang lulus UN tahun 2010 ada 95%?

1. Null Hypothesis (Ho): Rata-rata penghasilan dari kelima provider internet di Indonesia sama.\
   Alternative Hypothesis (Ha): Terdapat perbedaan signifikan dalam rata-rata penghasilan antara kelima provider internet di Indonesia.

2. Null Hypothesis (Ho): Tidak ada perbedaan signifikan dalam kadar lemak tubuh sebelum dan setelah berolahraga sepeda.\
   Alternative Hypothesis (Ha): Terdapat perbedaan signifikan dalam kadar lemak tubuh, dengan kadar lemak tubuh setelah berolahraga sepeda lebih rendah.

3. Null Hypothesis (Ho): Tidak ada perbedaan signifikan dalam kadar lemak tubuh antara orang yang rajin berolahraga sepeda dan orang yang jarang berolahraga.\
    Alternative Hypothesis (Ha): Terdapat perbedaan signifikan dalam kadar lemak tubuh, dengan kadar lemak tubuh orang yang rajin berolahraga sepeda lebih rendah daripada orang yang jarang berolahraga.
    
4. Null Hypothesis (Ho): Rata-rata satu karung kecil beras yang diproduksi oleh Company A sama dengan 5.000g.\
    Alternative Hypothesis (Ha): Rata-rata satu karung kecil beras yang diproduksi oleh Company A tidak sama dengan 5.000g.
5. Null Hypothesis (Ho): Persentase siswa yang lulus UN tahun 2010 sama dengan 95%.\
    Alternative Hypothesis (Ha): Persentase siswa yang lulus UN tahun 2010 tidak sama dengan 95%.

# **Exercise**

Sementara, anggap semua data numerical terdistribusi normal.

Lakukan uji statistik yang sesuai untuk kasus-kasus di bawah ini!

In [3]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

In [10]:
df_car = pd.read_csv('all_cars.csv').drop(columns='Unnamed: 0')
df_car.head()

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0

Null Hypothesis (Ho): harga mobil Automatic dari Hyundai sama dengan harga mobil Automatic dari Toyota.\
Alternative Hypothesis (Ha): harga mobil Automatic dari Hyundai tidak sama dengan harga mobil Automatic dari Toyota.

### **No.1**

Apakah mobil Automatic dari Hyundai dan Toyota memiliki harga yang berbeda? Buktikan dengan
Uji Statistik?

In [33]:
group1 = df_car[df_car['brand'] == 'Hyundai']['price']
group2 = df_car[df_car['brand'] == 'Toyota']['price']
t_statistic, p_value = stats.ttest_ind(group1, group2)

t_statistic, p_value = stats.ttest_ind(group1, group2)

In [34]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis, harga mobil Automatic dari Hyundai tidak sama dengan harga mobil Automatic dari Toyota")
else:
    print("Accept the null hypothesis, harga mobil Automatic dari Hyundai sama dengan harga mobil Automatic dari Toyota")

Accept the null hypothesis, harga mobil Automatic dari Hyundai sama dengan harga mobil Automatic dari Toyota

### **No.2**

Apakah jarak tempuh (mileage) semua brand mobil keluaran tahun 2019 sama? Buktikan dengan Uji Statistik!

In [35]:
brand1 = df_car[df_car['brand'] == 'Hyundai']['mileage']
brand2 = df_car[df_car['brand'] == 'Toyota']['mileage']
brand3 = df_car[df_car['brand'] == 'Audi']['mileage']

f_statistic, p_value = stats.f_oneway(brand1, brand2, brand3)
f_statistic, p_value

(46.50812541642219, 6.97999874993723e-21)

In [36]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis, ada perbedaan signifikan dalam jarak tempuh antara brand")
else:
    print("Fail to reject the null hypothesis, tidak ada perbedaan signifikan dalam jarak tempuh antara brand")

Reject the null hypothesis, ada perbedaan signifikan dalam jarak tempuh antara brand

### **No.3**

Apakah rata-rata nilai mpg dari semua mobil adalah 53 mpg! Buktikan dengan Uji Statistik!

In [37]:
mpg_values = df_car['mpg']
test_value = 53

t_statistic, p_value = stats.ttest_1samp(mpg_values, test_value)

t_statistic, p_value

(21.638867192240966, 8.862254979651258e-103)

In [38]:
alpha = 0.05

if p_value < alpha:
    print(f"Reject the null hypothesis, rata-rata nilai mpg tidak sama dengan {test_value} mpg")
else:
    print(f"Fail to reject the null hypothesis, rata-rata nilai mpg sama dengan {test_value} mpg")

Reject the null hypothesis, rata-rata nilai mpg tidak sama dengan 53 mpg