In [119]:
import numpy as np
import pandas as pd

df = pd.read_html('http://digidb.io/digimon-list/')
df = df[0]

In [120]:
df=df.set_index('#')

In [121]:
df

,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
#,,,,,,,,,,,,
1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
...,...,...,...,...,...,...,...,...,...,...,...,...
337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121
339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126
340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113
341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108

In [122]:
df[(df['Type']=='Vaccine')&(df['HP']>1100)]

,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
#,,,,,,,,,,,,
34,Gomamon,Rookie,Vaccine,Water,5,1,1160,69,93,93,81,79
41,ToyAgumon,Rookie,Vaccine,Neutral,4,1,1110,87,72,112,63,71
60,Lucemon,Rookie,Vaccine,Light,14,1,1230,148,59,104,208,119
71,Ikkakumon,Champion,Vaccine,Water,8,1,1330,84,118,102,94,90
90,Greymon,Champion,Vaccine,Fire,8,1,1230,74,148,118,64,104
...,...,...,...,...,...,...,...,...,...,...,...,...
319,Susanomon,Ultra,Vaccine,Light,25,1,1630,129,183,158,149,149
325,Rapidmon (Armor),Armor,Vaccine,Light,18,3,1140,114,158,178,158,124
330,Hisyaryumon,Ultimate,Vaccine,Neutral,14,1,1200,89,183,157,74,123
331,Ouryumon,Mega,Vaccine,Neutral,20,2,1350,104,221,179,84,158
334,Sistermon B (Awake.),Rookie,Vaccine,Light,18,2,1310,175,72,112,191,165

In [123]:
len(df[(df['Type']=='Virus')&(df['HP']>df['HP'].mean())&(df['Atk']>100)&(df['Spd']>=df['Spd'].mean())])

34

In [124]:
df.to_csv('Digimon.csv',index = False)

In [125]:
df.groupby('Type').agg({'Digimon':'count'}).rename(columns={'Digimon':'Jumlah'})

         Jumlah
Type
Data         80
Free         52
Vaccine      97
Virus       112

In [126]:
df.groupby('Stage').agg({'HP':'mean','Atk':'max'}).round()

                 HP  Atk
Stage
Armor        1170.0  168
Baby          728.0   97
Champion     1085.0  188
In-Training   834.0  109
Mega         1423.0  243
Rookie        927.0  133
Ultimate     1285.0  203
Ultra        1526.0  318

In [127]:
df.loc[df['Digimon']=='Kuramon','HP']=1000
df.loc[df['Digimon']=='Kuramon','Atk']=2500
df[df['Digimon']=='Kuramon']

,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
#,,,,,,,,,,,,
1,Kuramon,Baby,Free,Neutral,2,0,1000,77,2500,69,68,95

In [151]:
df.groupby('Stage').agg({'HP':'mean'}).nlargest(3,'HP').round()

              HP
Stage
Ultra     1526.0
Mega      1423.0
Ultimate  1285.0